{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModal">Vymazat záznam?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center" id="delete-name"></h2>
                <p id="delete-time"></p>
                <p id="delete-track"></p>
                <p id="delete-id"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Ne</button>
                <button type="button" class="btn btn-warning" onclick="deleteRslt()">Ano</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="change-modal" tabindex="-1" aria-labelledby="changeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="changeModal">Upravit jméno</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control mb-2" id="change-name-input">
                <p id="change-time"></p>
                <p id="change-track"></p>
                <p id="change-id"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Ne</button>
                <button type="button" class="btn btn-warning" onclick="changeRslt()">Ano</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row justify-content-center ">
    <div class="col-lg-3 col-12">

        <input placeholder="filter by name..." type="text" id="filter-by-name" class="form-control m-2">

    </div>

    <div class="col-lg-1 col-5 m-2">
        <select class="form-select form-select-md" aria-label="Large select example" id="track-select-id">
            <option selected value="all">Všechny tratě</option>
            <option value="A">Trať A</option>
            <option value="B">Trať B</option>
            <option value="C">Trať C</option>
            <option value="D">Trať D</option>
            <option value="E">Trať E</option>
        </select>
    </div>
    <div class="col-lg-1 col-5 m-2 align-self-end">
        <select class="form-select form-select-md" aria-label="Large select example" id="date-select-id">
            <option selected value="all">Datum</option>
            <option value="10.7.">10.7.</option>
            <option value="11.7.">11.7.</option>
            <option value="12.7.">12.7.</option>
            <option value="13.7.">13.7.</option>
        </select>
    </div>
</div>



<div id="table-container">
    <table class="table table-hover" id="content-table">
        <script >

document.addEventListener('DOMContentLoaded', function () {
    
    fetchJson_CreateTable()
        .then(()=>{
        const url = new URL(window.location.href)
        params = new URLSearchParams(url.search)
        if(params.has("forceFocus")){
            let id = params.get("forceFocus")
            focusRow(id)
        }})
})

document.getElementById("filter-by-name").addEventListener('input', function () {
    fetchJson_CreateTable()
})

document.getElementById("track-select-id").addEventListener('change', function () {
    fetchJson_CreateTable()
})

document.getElementById("date-select-id").addEventListener('change', function () {
    fetchJson_CreateTable()
})

function formatTime(timeInMillSec) {
    var timeInSec = Math.floor(timeInMillSec/1000)
    var millis = timeInMillSec%1000
    var hours = Math.floor(timeInSec / 3600)
    var minutes = Math.floor((timeInSec - hours * 3600) / 60) % 60
    var seconds = timeInSec % 60
    var formatted = ""
    if(hours){
        formatted = formatted + ("00" + hours).slice(-2) + ":"
    }
    formatted = formatted + ("00" + minutes).slice(-2) + ":"+("00"+seconds).slice(-2) + "." + ("000"+millis).slice(-3)


    return formatted
}


function fetchJson_CreateTable() {
    return new Promise((resolve, reject) => {
        const nameFilter = document.getElementById("filter-by-name").value
        const trackFilter = document.getElementById("track-select-id").value
        const dateFilter = document.getElementById("date-select-id").value

        const url = new URL(window.location.origin + "/data")
        if (nameFilter) {
            url.searchParams.append('name', nameFilter)
        }
        if (trackFilter !== "all") {
            url.searchParams.append('track', trackFilter)
        }
        if (dateFilter !== "all") {
            url.searchParams.append('date', dateFilter)
        }

        fetch(url)
            .then(response => response.json())
            .then(data => {
                //console.log(data)
                createTable(data)
                resolve()
            })
            .catch(error => {
                console.error('Error fetching JSON:', error)
                reject(error)
            })

    })
}

function createTable(data) {


    const table = document.getElementById("content-table")
    table.innerHTML = ""
    const thead = document.createElement('thead')
    const theadRow = document.createElement('tr')
    const cols = Object.keys(data[0])

    if (!document.getElementById("filter-by-name").value && document.getElementById("track-select-id").value !== "all") {
        const thPos = document.createElement('th')
        thPos.textContent = "#"
        theadRow.appendChild(thPos)
    }

    const thName = document.createElement('th')
    thName.textContent = "jméno"
    theadRow.appendChild(thName)

    const thTime = document.createElement('th')
    thTime.textContent = "čas"
    theadRow.appendChild(thTime)

    const thTrack = document.createElement('th')
    thTrack.textContent = "trať"
    theadRow.appendChild(thTrack)

    const thDate = document.createElement('th')
    thDate.classList.add("d-none")
    thDate.classList.add("d-lg-block")
    thDate.textContent = "datum"
    theadRow.appendChild(thDate)

    "{% if current_user.is_authenticated %}"
    const thBtns = document.createElement('th')
    theadRow.appendChild(thBtns)
    "{% endif %}"



    thead.appendChild(theadRow)
    table.appendChild(thead)

    const tbody = document.createElement('tbody')

    //data 
    let position = 1//bude zobrazovat umisteni ucastnika
    data.forEach(item => {

        const row = document.createElement('tr')
        row.id = item['id']

        if (!document.getElementById("filter-by-name").value && document.getElementById("track-select-id").value !== "all") {
            const tdPos = document.createElement('td')
            tdPos.textContent = position++ + '.'
            tdPos.id = "pos-" + item['id']
            row.appendChild(tdPos)
        }

        const tdName = document.createElement('td')
        //tdName.classList.add("text-center")
        tdName.textContent = item['name']
        tdName.onclick = () => { focusRow(item['id']) } //kliknutim na jmeno se zobrazi tabulka s jednou trati a nakliknuty zaznam se zvyrazni
        tdName.id = "name-" + item['id']
        row.appendChild(tdName)

        const tdTime = document.createElement('td')
        tdTime.textContent = formatTime(item['time'])
        tdTime.onclick = () => { focusRow(item['id']) }
        tdTime.id = "time-" + item['id']
        row.appendChild(tdTime)

        const tdTrack = document.createElement('td')
        tdTrack.textContent = item['track']
        tdTrack.onclick = () => { focusRow(item['id']) }
        tdTrack.id = "track-" + item['id']
        row.appendChild(tdTrack)

        const tdDate = document.createElement('td')
        tdDate.classList.add("d-none")
        tdDate.classList.add("d-lg-table-cell")
        tdDate.textContent = item['date']
        tdDate.onclick = () => { focusRow(item['id']) }
        tdDate.id = "date-" + item['id']
        row.appendChild(tdDate)

        //overit jestli admin je prihlasen, jestli ano, zobrazi ze tlacitka na upravu vysledku
        "{% if current_user.is_authenticated %}"
        const tdB = document.createElement('td')

        //mazaci tlacitko
        const deleteButton = document.createElement('button')
        deleteButton.id = "edit-button-" + item['id']
        deleteButton.textContent = "delete"
        deleteButton.classList.add("btn")
        deleteButton.classList.add("btn-danger")
        deleteButton.setAttribute("data-bs-toggle", "modal")
        deleteButton.setAttribute("data-bs-target", "#delete-modal")
        deleteButton.onclick = (() => {
            const modalName = document.getElementById("delete-name")
            modalName.textContent = document.getElementById("name-" + item['id']).textContent

            const modalTime = document.getElementById("delete-time")
            modalTime.textContent = "Čas: " + document.getElementById("time-" + item['id']).textContent

            const modalTrack = document.getElementById("delete-track")
            modalTrack.textContent = "Trať: " + document.getElementById("track-" + item['id']).textContent

            const modalId = document.getElementById("delete-id")
            modalId.textContent = item['id']
        })

        //upravovaci tlacitko
        const changeButton = document.createElement('button')
        changeButton.id = "change-button" + item['id']
        changeButton.textContent = "change"
        changeButton.classList.add("btn")
        changeButton.classList.add("btn-warning")
        changeButton.setAttribute("data-bs-toggle", "modal")
        changeButton.setAttribute("data-bs-target", "#change-modal")
        changeButton.onclick = (()=>{

            const modalNamechange = document.getElementById("change-name-input")
            modalNamechange.value = document.getElementById("name-" + item['id']).textContent

            const modalTime = document.getElementById("change-time")
            modalTime.textContent = "Čas: " + document.getElementById("time-" + item['id']).textContent

            const modalTrack = document.getElementById("change-track")
            modalTrack.textContent = "Trať: " + document.getElementById("track-" + item['id']).textContent

            const modalId = document.getElementById("change-id")
            modalId.textContent = item['id']
        })
        tdB.classList.add("text-center")
        tdB.appendChild(deleteButton)
        tdB.appendChild(changeButton)
        row.appendChild(tdB)

        "{% endif %}"
        tbody.appendChild(row)
    })
    table.appendChild(tbody)


}

function changeRslt(){
    const id = document.getElementById("change-id").textContent
    const close = document.getElementById("close-modal")
    const name = document.getElementById("change-name-input")
    const data = {
        name: name.value
    }
    close.click()
    const url = '{{url_for("main.rslt_change", id="")}}'
    fetch(url+id, 
        {
            method: "PUT", 
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }
    )
        .then(res=>console.log(res))
        .then(location.reload())
        .catch(error => {
                console.error('Error fetching JSON:', error)
            })
    
}

function deleteRslt() {
    const id = document.getElementById("delete-id").textContent
    const close = document.getElementById("close-modal")
    close.click()
    const url = '{{url_for("main.rslt_remove", id="")}}'
    fetch(url + id,
        { method: "DELETE" }
    )
        .then(res => console.log(res))
        .then(location.reload())
}

function focusRow(id) {
    id = Number(id)
    const nameF = document.getElementById("filter-by-name")
    nameF.value = ''
    const track = document.getElementById("track-select-id")
    track.value = document.getElementById("track-" + id).textContent
    fetchJson_CreateTable().then(() => {
        const row = document.getElementById(id)
        row.scrollIntoView({ block: 'center', behavior: 'smooth' })
        row.style.borderColor = "yellow"
        document.getElementById("pos-" + id).style.color = "yellow"
        document.getElementById("name-" + id).style.color = "yellow"
        document.getElementById("date-" + id).style.color = "yellow"
        document.getElementById("time-" + id).style.color = "yellow"
        document.getElementById("track-" + id).style.color = "yellow"
    })
}



        </script>

    </table>
</div>


{% endblock %}