{% extends "base.html" %}

{% block content %}
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <label for="new-head-row" class="form-label">Název tratě:</label>
                <input class="form-control" id="new-head-row" placeholder="vyplňte název tratě">
                <div class="mb-3">
                    <label for="trackTextArea" class="form-label">Body tratě, oddělené čárkami:</label>
                    <textarea class="form-control" id="trackTextArea" rows="1" placeholder="1,2,3,4,5,6,7,8,9..."></textarea>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">zrušit</button>
                <button class="btn btn-success" onclick="addNew()">přidat</button>

            </div>
        </div>
    </div>



</div>

<div>
    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#delete-modal" >Add
        track
    </button>
    <table class="table table-hover" id="tracks-table">
        <thead id="head">
            <tr id="head-row">

            </tr>
        </thead>
        <tbody id="body">
            <tr id="row-delete"></tr>
        </tbody>

    </table>
        

</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        getTracks()
    })



    function getTracks() {
        const url = new URL(window.location.origin + "/tracks_data")
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                displayTracks(data)
            })

    }

    function displayTracks(data) {

        const tbody = document.getElementById("body")
        for(let i = 1; i <= 256; i++){
            tr = document.createElement('tr')
            tr.id = "row-"+i
            tbody.appendChild(tr)
        }


        data.forEach(track => {
            title = document.createElement('th')
            title.textContent = track.name
            document.getElementById("head-row").appendChild(title)
            let count = 1
            track.points.forEach(point => {
                cell = document.createElement('td')
                cell.textContent = point.number
                document.getElementById("row-" + count).appendChild(cell)
                count++
            })
            while(count < 256){
                cell = document.createElement('td')
                cell.textContent = '_'
                document.getElementById("row-" + count).appendChild(cell)
                count++
            }
            btnCell = document.createElement('td')
            btn = document.createElement('button')
            btn.classList.add("btn")
            btn.classList.add("btn-danger")
            btn.classList.add("btn-sm")
            btn.textContent = "odebrat"
            btn.onclick = (() => {
                deleteTrack(track.id)
            })
            btnCell.appendChild(btn)
            document.getElementById("row-delete").appendChild(btnCell)
        })

    }

    function deleteTrack(id) {

        document.getElementById("head-row").innerHTML = ""
        console.log(document.getElementById("head-row"))
        for (let i = 1; i <= 256; i++) {

            document.getElementById("row-" + i).innerHTML = ""
            console.log(document.getElementById("row-" + i))

        }
        document.getElementById("row-delete").innerHTML = ""
        console.log(document.getElementById("row-delete"))

        console.log(id)
        const url = '{{url_for("main.tracks_delete", id="")}}'
        fetch(url + id,
            { method: "DELETE" }
        )
            .then(res => console.log(res))
            .then(() => { getTracks() })
    }

    function addNew() {

        trackTitle = document.getElementById("new-head-row").value
        data = {
            "name": trackTitle
        }
        const val = document.getElementById("trackTextArea").value

        const numStr = val.split(',')
        const numbers = numStr.map(Number)
        for (let i = 1; i <= 15; i++) {


            console.log(numbers[i-1])
            data["point" + i] = numbers[i-1]


        }

        const url = '{{url_for("main.tracks_data")}}'
        fetch(url,
            {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
        )
            .then(res => console.log(res))
            .then(() => { location.reload()})


    }
</script>
{% endblock %}